html {
  font-size: 14px;
}

:root {
    --primary: #9b999a;
    --darklight: #757b82;
    --darklight2: #757b82;
}

body{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

@font-face{
    font-family: "miracle";
    src: url("../fonts/Miraclefont.otf") format('opentype');
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

ul{
    list-style-type: disc;
    list-style: none;
}



a {
    text-decoration: none
}


.footer{
    background-color: var(--primary);
    height: 200px;
}