@{
    ViewData["Title"] = "Home Page";
    var myName = "jos";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 id="name" class="text-danger">@myName</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<script>

    var myName = "@myName";
    var myname = document.getElementById(name)
    myname.style.color = "red"
    console.log(myname)
</script>
